---
http_interactions:
- request:
    method: post
    uri: https://api.gocardless.com/bank_details_lookups
    body:
      encoding: UTF-8
      string: '{"bank_details_lookups":{"country_code":"GB","account_number":"00622660","branch_code":"1234"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - "<access_token>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Tue, 15 Nov 2016 11:18:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Validation failed","errors":[{"field":"branch_code","message":"is
        the wrong length (should be 6 characters)","request_pointer":"/bank_details_lookups/branch_code"}],"documentation_url":"https://developer.gocardless.com/api-reference#validation_failed","type":"validation_failed","request_id":"d7fbe5d9-be4f-4fee-9958-c6c6cfae64c7","code":422}}'
  recorded_at: Tue, 15 Nov 2016 11:17:28 GMT
recorded_with: VCR 3.0.3
