---
http_interactions:
- request:
    method: get
    uri: https://api.gocardless.com/customers?active_mandates=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - "<access_token>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Thu, 17 Nov 2016 13:08:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"The access token you''ve used is not a valid live
        API access token","errors":[{"reason":"access_token_not_found","message":"The
        access token you''ve used is not a valid live API access token"}],"documentation_url":"https://developer.gocardless.com/api-reference#access_token_not_found","type":"invalid_api_usage","request_id":"c101e0c3-46e2-465b-ad64-3231aa026c97","code":401}}'
  recorded_at: Thu, 17 Nov 2016 13:07:31 GMT
recorded_with: VCR 3.0.3
