---
http_interactions:
- request:
    method: get
    uri: https://api.gocardless.com/customers?active_mandates=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - "<access_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d293450231f9267521c6739419c798b7"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Thu, 17 Nov 2016 11:08:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"customers":[{"id":"CU0003NWSC7SR3","created_at":"2016-11-17T10:59:41.800Z","email":"tim+emma@gocardless.com","given_name":"Emma","family_name":"Rogers","company_name":null,"address_line1":"Flat
        006, Empire Heights","address_line2":"45 New Cross Road","address_line3":null,"city":"London","region":null,"postal_code":"SE14
        5FA","country_code":"GB","language":"en","swedish_identity_number":null,"metadata":{}},{"id":"0FZSZRT3YW","created_at":"2013-06-20T12:33:38.734Z","email":"ricky.shafier@gmail.com","given_name":"Ricky","family_name":"Shafier","company_name":null,"address_line1":"18
        Little Potters","address_line2":"Bushey Heath","address_line3":null,"city":"Herts","region":null,"postal_code":"WD23
        4QT","country_code":"GB","language":"en","swedish_identity_number":null,"metadata":{}},{"id":"0FQ4P1XE7H","created_at":"2013-07-09T09:55:57.686Z","email":"alina@gocardless.com","given_name":"Alina","family_name":"Solovjova","company_name":null,"address_line1":"The
        Conkers","address_line2":"High Street","address_line3":null,"city":"South
        Moreton","region":null,"postal_code":"OX11 9AG","country_code":"GB","language":"en","swedish_identity_number":null,"metadata":{}},{"id":"0C3JNWXH5J","created_at":"2013-04-01T17:04:49.022Z","email":"kitbrennan90+gocardless@gmail.com","given_name":"Kit","family_name":"Brennan","company_name":"Widgets
        plc","address_line1":"Flat 4, Medina Mansions","address_line2":"102 Great
        Titchfield Street","address_line3":null,"city":"London","region":null,"postal_code":"W1W
        6SL","country_code":"GB","language":"en","swedish_identity_number":null,"metadata":{"custom_reference":"1000"}},{"id":"0BVTSPEB9G","created_at":"2012-11-20T11:34:52.000Z","email":"riccardo@gocardless.com","given_name":"Riccardo","family_name":"Cambiassi","company_name":null,"address_line1":"96a
        Anerley Road","address_line2":"","address_line3":null,"city":"London","region":null,"postal_code":"SE19
        2AN","country_code":"GB","language":"en","swedish_identity_number":null,"metadata":{}},{"id":"0BVTNW5GA8","created_at":"2012-11-05T12:34:15.000Z","email":"missmayaross+gocardless@gmail.co[...]
- request:
    method: get
    uri: https://api.gocardless.com/mandates?customer=0BVTDMJFS5&status%5B%5D=active&status%5B%5D=pending_submission&status%5B%5D=submitted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - "<access_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3fb8b100b8e1954ca7c8cc14bcaf7c77"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Thu, 17 Nov 2016 11:08:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":[{"id":"MD0000AQRB2W8M","created_at":"2015-01-17T12:30:59.064Z","reference":"TIMROGERS-8YR5AF6E","status":"active","scheme":"bacs","next_possible_charge_date":"2016-11-22","payments_require_approval":true,"metadata":{},"links":{"customer_bank_account":"BA00017HQKYKB4","creditor":"CR00001PNYPF94"}},{"id":"0T2CNHA8QD","created_at":"2016-02-12T11:12:56.220Z","reference":"TIMROGERS-2Y8RQ36V","status":"active","scheme":"bacs","next_possible_charge_date":"2016-11-22","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA00017HQKYKB4","creditor":"CR00001PNYPF94"}}],"meta":{"cursors":{"before":null,"after":null},"limit":50}}'
  recorded_at: Thu, 17 Nov 2016 11:07:52 GMT
- request:
    method: post
    uri: https://api.gocardless.com/payments
    body:
      encoding: UTF-8
      string: '{"payments":{"amount":500,"currency":"GBP","links":{"mandate":"MD0000AQRB2W8M"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - "<access_token>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.gocardless.com/payments/PM000K3GD45067
      Etag:
      - W/"4f66cb7533168d32c606e4b69f88070c"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '997'
      Ratelimit-Reset:
      - Thu, 17 Nov 2016 11:08:00 GMT
    body:
      encoding: UTF-8
      string: '{"payments":{"id":"PM000K3GD45067","created_at":"2016-11-17T11:07:52.323Z","charge_date":"2016-11-22","amount":500,"description":null,"currency":"GBP","status":"pending_customer_approval","amount_refunded":0,"reference":null,"metadata":{},"links":{"mandate":"MD0000AQRB2W8M","creditor":"CR00001PNYPF94"}}}'
  recorded_at: Thu, 17 Nov 2016 11:07:52 GMT
recorded_with: VCR 3.0.3
